.storage

# Share this file
!.gitignore
!.storage/broadlink_remote_ec0bae84f1ad_*
!.storage/lovelace

# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
*.pickle
._*
__pycache__
home-assistant.log.*

# Ignore Sensitive Files
secrets.yaml
known_devices.yaml
entity_registry.yaml
ip_bans.yaml
customize.yaml
